body {
    color: aliceblue;
    margin: 0px;
    padding: 0px;
    background: #333;
}

.left {
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 1px;

}

.mid {
    /* border: 2px solid orange; */
    display: block;
    margin: auto;
    width: 46%;


}

.right {
    /* border: 2px solid greenyellow; */
    display: inline-block;
    position: absolute;
    right: 23px;
    top: 17px;

}

.navbar ul {
    /* border: 2px solid green; */
    padding: 2px 3px;
    margin: 2px 264px width 46%;
}

.navbar li {
    /* border: 2px solid purple; */
    padding: 4px 3px;
    display: inline-block;
    text-decoration: none;
    margin: 2px 32px;
}

.navbar li a {
    /* border: 2px solid orange; */
    text-decoration: none;
    color: aliceblue;
    padding: 23px 5pxpx;

}

img {
    width: 150px;
    margin: -15px 13px;


}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    background-color: rgb(69, 62, 54);
}

.left div {
    text-align: center;
    margin: 1px;
}

.btn {
    margin: 2px 3px;
    padding: 4px 20px;
    border: 2px solid grey;
    border-radius: 10px;
    cursor: pointer;
}

.container {
    margin: 94px 664px;
    padding: 64px 28px;
    border: 2px solid white;
    width: 36%;
    border-radius: 20px;

}
.form-action{
    margin: 5px 8px;
    padding:4px 2px;
    text-align: center;
}
.form-action input{
    text-align: center;
}
.container button{
    display: block;
    width: 120px;
    margin: auto;
}